# Discord Bot Information
DISCORD_BOT_TOKEN=
CLIENT_ID=
TEST_Guild_ID=
MAIN_Guild_ID=
DEV_MODE=                                              # Toggle between "true" and "false" to enable or disable the development mode

# MYSQL Database Information
MYSQL_HOST=
MYSQL_USER=r
MYSQL_PASSWORD=
MYSQL_DATABASE=

# Google Cloud Vision API Key
GOOGLE_APPLICATION_CREDENTIALS=
